.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 50px;
  }
  @media screen and (max-width: 450px) {
    margin-top: 100px;
  }
  h1 {
    @media screen and (max-width: 400px) {
      text-align: center;
    }
  }
  &__data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @media screen and (max-width: 768px) {
      align-items: center;
    }
  }
  &__location {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
