.avatar--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-color: $color-fill;
  overflow: hidden;
  border-radius: 50%;
  @include themify($themes) {
    border: 2px solid themed("theme-dark-background");
  }
}
