.page-header {
  padding: 25px 0;
  &__title {
    display: flex;
    align-items: center;
    gap: 1px;
  }
  &____top-item {
    display: inline-block;
  }
  &__counter {
    border-radius: 50%;
    background-color: $color-external;
    font-family: monospace;
    font-size: 0.8rem;
    padding: 2px 6px;
    margin-top: -1rem;
  }
  &__icon,
  a {
    color: $color-external;
  }
}
