.index-page {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media screen and (max-width: 768px) {
      gap: 100px;
      align-items: center;
    }
    @media screen and (max-width: 450px) {
      gap: 300px;
    }
  }
}
